SITE_URL=https://hammasirsite.ir
BOT_API_SECRET=481a8c17580ec833b323bf1ab4ea555d0e425fb619d2f9b8
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
BALE_BOT_TOKEN=
BALE_ADMIN_CHAT_ID=
PAYMENT_CARD_NUMBER=
PAYMENT_CARD_OWNER=
